* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}



body {
  background-color: #f9f9f9;
  font-family: Rubik, sans-serif;
  text-align: center;
  margin: 30px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #bbb;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  max-width: 85%;
  padding: 10px;
  margin: 16px;
}




img {
  max-width: 100%;
  height: auto;
}

button {
  color: black;
  cursor: pointer;
  width: 25%;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

input {
  border-radius: 5px;
  
}

.input-base{
  display: flex;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: #413c3c;
}

.ball, .mmball, .pbball {
  background-color: #fff;
  border-radius: 50%;
  color: #333;
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  width: 50px;
  
}


/*change megaball to yellow while retaining shadowing and position from ruleset above*/
.mmball {
  background-color: #ff0;
}

/*ditto for powerball color (red)*/
.pbball {
  background-color: #f00;
  color: #fff;
}

p {
  color: #333;
  font-size: smaller;
  padding-bottom: 5px;
  padding-top: 4px;
}

.separator {
  text-align: center;
}

.disclaimer, .author {
  font-size: small;
}

@media all and (max-width:576px) {

  .ball, .mmball, .pbball {
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    width: 35px;

  }

  p {
    font-size: 12px;
  }

}
